:root {
    // background
    --bg: hsl(204, 43%, 93%);

    // card clr
    --join-card-clr: hsl(0, 0%, 100%);
    --subscription-card-clr: hsl(179, 62%, 43%);
    --why-us-card-clr: hsl(179, 60%, 50%);

    // txt clr
    --txt-clr: hsl(0, 0%, 96%);
    --head-txt-clr: hsl(0, 0%, 100%);
    --sub-txt-clr: hsl(240, 2%, 90%);

    // clr
    --bright-yellow: hsl(71, 73%, 54%);

    // link
    --link-clr: hsl(179, 62%, 43%);
}